@charset "UTF-8";

/*
    Em HTML é id = em CSS é # (SOMENTE UM ELEMENTO)
    Em HTML é class = em CSS é . (VÁRIOS ELEMENTOS)
*/

body{
    background-color:rgb(168, 235, 168);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 73, 4);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;

}

h2 {
    color: rgb(50, 139, 50);
}

.basico {
    color: rgb(255, 0, 0);
}

.intermediario {
    color: yellow;
}

.avancado {
    color: blue;
}